body {
    background-color: white;
}



.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}

.tab {
    background: Gray;
    width: 30%;
    border-radius: 10px 10px 0px 0px;
    padding: 3px 12px;
    order: -1;
    text-align: center;
}

.tab-content {
    width: 100%;
    display: none;
}

/* アクティブなタブ */
.tab-switch:checked+#Glitchless {
    background: rgb(255, 217, 0);
}

.tab-switch:checked+#Orb {
    background: rgb(1, 159, 1);
}

.tab-switch:checked+#Cloud {
    background: lightgrey;
}

.tab-switch:checked+.tab+.tab-content {
    display: block;
}

/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

.setswitch {
    color: red;
}

details {
    width: 80%;
    background-color: azure;
    border: 2px solid gray;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
}

summary{
    list-style: none;
}

.tech {
    box-sizing: border-box;
    list-style: none;
    height: 50px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

.tech-e {
    box-sizing: border-box;
    list-style: none;
    height: 50px;
    background-color: lightgreen;
    border-radius: 10px 10px 10px 10px;
    line-height: 50px;
    position: relative;
}

.tech-n {
    box-sizing: border-box;
    list-style: none;
    height: 50px;
    background-color: lightskyblue;
    border-radius: 10px 10px 10px 10px;
    line-height: 50px;
    position: relative;
}

.tech-h {
    box-sizing: border-box;
    list-style: none;
    height: 50px;
    background-color: lightsalmon;
    border-radius: 10px 10px 10px 10px;
    line-height: 50px;
    position: relative;
}

.tech-l {
    box-sizing: border-box;
    list-style: none;
    height: 50px;
    background-color: #d584e0;
    border-radius: 10px 10px 10px 10px;
    line-height: 50px;
    position: relative;
}

.tech-text {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.target {
    
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

  details[open] summary {
    border-bottom: 1px solid black;
    margin-bottom: 0.5px;
  }
  